//====================================================================================================
.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	&__wrapper {
		margin-top: -70px;
		transition: all 0.8s ease 0s;
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 100;
		background: rgba(0, 0, 0, 0.31);
		@media (min-width: $md3+px) {
			@supports ((-webkit-backdrop-filter: blur(19px)) or (backdrop-filter: blur(19px))) {
				background: rgba(0, 0, 0, 0.31);
				backdrop-filter: blur(19px);
			}
		}
	}

	&__container {
	}

	&__body {
		display: flex;
		padding: 10px 0px;
		min-height: 70px;
		position: relative;
		@media (max-width: $md2+px) {
			min-height: 65px;
		}
		@media (min-width: $md1+px) {
			@include adaptiv-value("padding-left", 225, 20, 1);
			@include adaptiv-value("padding-right", 170, 20, 1);
		}
		@media (max-width: $md3+px) {
			align-items: center;
		}
		li {
			list-style: none;
		}
	}

	&__menu {
		flex: 1 1 auto;
	}

	&__logo {
		display: inline-flex;
		flex: 0 0 125px;
		position: relative;
		z-index: 20;
		margin: 5px 15px 0px 15px;
		@media (max-width: $md1+px) {
			margin: 5px 5px 0px 5px;
		}
		@media (max-width: $md2+px) {
			margin: 0 30px 0 0;
		}
		img {
			max-width: 100%;
		}
	}

	&__btn {
		position: relative;
		z-index: 20;
		min-width: 110px;
		@media (min-width: $md2+px) {
			position: absolute;
			top: 10px;
			right: 22px;
			min-width: 140px;
			@media (max-width: $md1+px) {
				right: 0;
			}
		}
		@media (max-width: $md4+px) {
			width: 100%;
			font-size: 20px;
		}
	}

	&__icon {
		margin: 0px 0px 0px 20px;
	}
}
.menu {
	&__body {
		@media (max-width: $md3+px) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			overflow: auto;
			padding: 90px 15px 30px 15px;
			opacity: 0;
			visibility: hidden;
			transition: all 0.5s ease 0s;
			z-index: 10;
			background-color: rgba(0, 0, 0, 0.8);
			&::after {
				content: "";
				position: fixed;
				width: 100%;
				height: 65px;
				top: 0;
				left: 0;
				background-color: $black;
			}
			&._active {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__list {
		@media (min-width: $md3+px) {
			display: flex;
		}
		@media (max-width: $md1+px) {
			justify-content: center;
		}
		@media (max-width: $md2+px) {
			justify-content: flex-start;
		}
		li {
			@media (min-width: $md3+px) {
				@include adaptiv-value("margin-right", 35, 0, 1);
			}
			@media (max-width: $md3+px) {
				@include adaptiv-value("margin-bottom", 30, 20, 1);
			}
		}
	}

	&__link {
		text-transform: uppercase;
		display: inline-flex;
		margin-top: 12px;
		@extend .text;
		transition: all 0.3s ease 0s;
		color: #a2a2a2;
		@media (max-width: $md3+px) {
			margin: 0;
			font-size: 20px;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #f8a400;
			}
		}
	}
}
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: relative;
		top: 0px;
		right: 0px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 20;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: $white;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
