//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================
@import url("https://fonts.googleapis.com/css?family=Rajdhani:600,700&display=swap");

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext (В конец)
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Rajdhani";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1310;
$maxWidthContainer: 1310;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$white: #fff;
$gold: #f8a400;
$red: #d10008;
$black: #000;
$grey: #8f8f8f;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $white;
	font-size: 15px;
	background-color: $black;
	&._lock {
		overflow: hidden;
	}

	@include scrollbars(5px, $white, $black);
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
	&._loaded {
		.subslider-char {
			display: flex;
		}
		.slider-char,
		.connected__slick {
			display: block;
		}
		.header__wrapper {
			margin-top: 0;
		}
		.page__home,
		.home__text,
		.home__button {
			@extend .anim;
		}
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "header";
@import "footer";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	&__info {
		margin-bottom: 50px;
	}
	&__char {
		margin-bottom: 50px;
	}
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

.home {
	@extend .no-anim;
	transition: all 0.5s ease 0s;
	&__wrapper {
		position: relative;
	}
	&__inner {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 5;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		padding-top: 70px;
		padding-bottom: 30px;
	}

	&__container {
	}
	&__text {
		@include adaptiv-value("width", 850, 280, 1);
		@include adaptiv-value("margin-bottom", 40, 30, 1);
		@media (max-height: 400px) {
			@include adaptiv-value("width", 300, 200, 1);
		}
		@extend .no-anim;
		transition: all 0.8s ease 0.5s;
		img {
			max-width: 100%;
		}
	}
	&__button {
		@extend .no-anim;
		transition: all 0.8s ease 1s;
	}
	&__btn {
		min-width: 140px;
	}

	&__bg {
		position: relative;
		overflow: hidden;
	}

	&__video {
		min-height: 100vh;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 2;
			background: rgba(0, 0, 0, 0.5);
		}
	}

	&__image {
		min-height: 100vh;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 2;
			background: rgba(0, 0, 0, 0.5);
		}
	}

	&__image-bottom {
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		transform: translate(0, 50%);
		z-index: 4;
		img {
			@media (min-width: 1100px) {
				min-width: 100%;
			}
			max-width: 100%;
		}
		@media (max-width: $md4+px) {
			transform: translate(-10%, 50%);
			min-width: 500px;
		}
	}
}

//========================================================================================================================================================

.info {
	&__wrapper {
		position: relative;
	}

	&__content {
		position: relative;
		z-index: 5;
	}

	&__container {
	}

	&__body {
		@media (min-width: $md2+px) {
			@include adaptiv-value("padding-left", 120, 0, 1);
			@include adaptiv-value("padding-right", 120, 0, 1);
		}
		padding: 0px 20px;
		margin-top: -60px;
		@media (max-width: $md3+px), (max-height: $md3+px) {
			margin-top: -20px;
			padding: 0;
		}
		@media (max-width: 560px), (max-height: $md4+px) {
			margin-top: 40px;
		}
	}

	&__bg {
		margin-top: 60px;
		position: absolute;
		width: 100%;
		height: calc(100% - 60px);
		top: 0;
		left: 0;
		@media (max-width: $md3+px) {
			margin-top: 20px;
			height: calc(100% - 20px);
		}
		@media (max-width: 560px) {
			height: 100%;
			margin-top: 0;
		}
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0.866013) 0%,
				rgba(0, 0, 0, 0.0001) 36.55%,
				rgba(0, 0, 0, 1) 100%
			);
		}
	}
}

.info-grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 40px;
	grid-template-areas:
		"grid1"
		"grid2";
	@media (max-width: $md2+px) {
		gap: 30px;
	}
	@media (max-width: $md3+px) {
		gap: 20px;
	}
	&__row {
		display: grid;
		padding-right: 40px;
		@media (max-width: $md2+px) {
			gap: 30px;
			padding-right: 30px;
		}
		@media (max-width: $md2+px) {
			gap: 20px;
			padding-right: 20px;
		}

		@media (max-width: 560px) {
			padding-right: 0;
		}
		@media (min-width: 560px) {
			grid-template-rows: 1fr 1fr;
			gap: 40px;
			@include adaptiv-value("min-height", 400, 250, 1);
		}
		@media (max-width: $md4+px) {
			margin: 0px -15px;
		}
		&._animate {
			.info-grid__item {
				@extend .anim;
				transform: translate(0px, 0px);
				.info-grid__content {
					@extend .anim;
				}
			}
		}
		&_1 {
			grid-area: grid1;
			@media (min-width: 560px) {
				grid-template-columns: 52% 48%;
				grid-template-rows: 1fr 1fr;
				grid-template-areas:
					"sub1 sub2"
					"sub1 sub3";
			}
			@media (max-width: 560px) {
				grid-template-columns: 1fr;
				grid-template-rows: 1fr 1fr 1fr;
				grid-template-areas:
					"sub1"
					"sub2"
					"sub3";
			}
		}
		&_2 {
			grid-area: grid2;
			@media (min-width: 560px) {
				grid-template-columns: 48% 52%;
				grid-template-rows: 1fr;
				grid-template-areas: "sub4 sub5";
			}
			@media (max-width: 560px) {
				grid-template-columns: 1fr;
				grid-template-areas:
					"sub4"
					"sub5";
			}
		}
	}
	&__item {
		@media (max-width: 560px) {
			@include adaptiv-value("min-height", 300, 200, 1);
		}
		position: relative;
		filter: drop-shadow(0px 2px 27px rgba(0, 0, 0, 0.8));
		@media (any-hover: hover) {
			&:hover {
				.info-grid__image {
					img {
						transform: scale(1.1);
					}
				}
			}
		}
		@extend .no-anim;
		transition: all 0.8s ease 0s;
		&_1 {
			@media (min-width: 560px) {
				transform: translate(-30%, 0px);
			}
			grid-area: sub1;
			.info-grid__content {
				@include adaptiv-value("bottom", 50, 20, 1);
				@media (max-width: $md3+px) {
					bottom: 20px;
				}
			}
		}
		&_2 {
			@media (min-width: 560px) {
				transform: translate(30%, 0px);
			}
			grid-area: sub2;
			.info-grid__content {
				@include adaptiv-value("bottom", 30, 20, 1);
				@media (max-width: $md3+px) {
					bottom: 20px;
				}
			}
			.info-grid__title {
				@media (min-width: 560px) {
					margin-top: 5px;
					@include adaptiv-font(28, 15, 1);
					line-height: 31 / 28 * 100%;
					letter-spacing: 1.55556px;
				}
			}
		}
		&_3 {
			@media (min-width: 560px) {
				transform: translate(30%, 0px);
			}
			grid-area: sub3;
			.info-grid__content {
				bottom: 20px;
				@media (max-width: $md3+px) {
					right: 20px;
				}
				@media (min-width: 560px) {
					text-align: right;
					right: -20px;
					left: auto;
				}
			}
			.info-grid__title {
				@media (min-width: 560px) {
					margin-top: 5px;
					@include adaptiv-font(28, 15, 1);
					line-height: 31 / 28 * 100%;
					letter-spacing: 1.55556px;
				}
			}
		}
		&_4 {
			@media (min-width: 560px) {
				transform: translate(-30%, 0px);
			}
			grid-area: sub4;
			.info-grid__content {
				@include adaptiv-value("bottom", 140, 20, 1);
				@media (max-width: $md3+px) {
					bottom: 20px;
				}
			}
		}
		&_5 {
			@media (min-width: 560px) {
				transform: translate(30%, 0px);
			}
			grid-area: sub5;
			.info-grid__content {
				bottom: 20px;
				@media (min-width: 560px) {
					left: 50%;
					transform: translate(-50%, 0px);
					text-align: center;
				}
			}
		}
	}

	&__content {
		position: absolute;
		bottom: 0;
		left: -20px;
		z-index: 6;
		@include adaptiv-value("width", 360, 250, 1);
		@media (max-width: $md3+px) {
			left: 15px;
			width: calc(100% - 30px);
		}
		@extend .no-anim;
		transition: all 0.8s ease 0.5s;
	}

	&__subtitle {
		font-weight: 600;
		font-size: 14px;
		line-height: 18 / 14 * 100%;
		letter-spacing: 2px;
		color: $gold;
	}

	&__title {
		font-family: "Eurostile";
		font-weight: 700;
		@include adaptiv-font(36, 18, 1);
		line-height: 48 / 36 * 100%;
		letter-spacing: 2px;
		color: $white;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $gold;
			}
		}
	}

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: hidden;
		img {
			transition: all 0.5s ease 0s;
		}
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: $black;
			opacity: 0.5;
		}
	}
}

//========================================================================================================================================================

.char {
	&__top {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		@media (max-width: $md2+px) {
			margin: 0px 0px 25px 0px;
		}
		@media (max-width: $md3+px) {
			justify-content: space-between;
		}
	}

	&__text {
		flex: 1 1 100%;
		margin-bottom: 25px;
		img {
			max-width: 100%;
		}
		@extend .no-anim;
		transition: all 0.8s ease 0s;
		&._animate {
			@extend .anim;
		}
	}

	&__subslider {
		position: relative;
		z-index: 5;
		@media (min-width: $md1+px) {
			margin-right: 85px;
		}
		flex: 0 1 605px;
		@media (max-width: $md3+px) {
			flex: 1 1 100%;
		}
		@extend .no-anim;
		transition: all 0.8s ease 0s;
		@media (min-width: $md3+px) {
			transform: translate(50%, 0px);
		}
		&._animate {
			@media (min-width: $md3+px) {
				transform: translate(0px, 0px);
			}
			@extend .anim;
		}
	}

	&__bottom {
		position: relative;
		z-index: 2;
	}

	&__slider {
	}
}
.subslider-char {
	display: none;
	min-width: 0;
	justify-content: space-between;
	@media (max-width: $md4+px) {
		flex-wrap: wrap;
		justify-content: flex-end;
	}
	&__slick {
		min-width: 0;
		flex: 1 1 auto;
		@media (min-width: $md4+px) {
			margin-right: 15px;
		}
		.slick-track {
			transform: translate3d(0px, 0px, 0px) !important;
			display: flex;
			@media (max-width: $md4+px) {
				width: 100% !important;
			}
		}
		@media (max-width: $md4+px) {
			flex: 1 1 100%;
			margin-bottom: 15px;
		}
	}

	&__slide {
		cursor: pointer;
		flex: 0 0 75px;
		&:not(:last-child) {
			margin-right: 15px;
		}
		@media (max-width: $md3+px) {
			&:not(:last-child) {
				margin-right: 10px;
			}
		}
		@media (max-width: $md4+px) {
			&:not(:last-child) {
				margin-right: 15px;
			}
		}
		&.slick-current {
			.subslider-char__text {
				color: $gold;
			}
			@media (max-width: 500px) {
				.subslider-char__image {
					&::after {
						opacity: 0;
					}
				}
			}
		}
		@media (any-hover: hover) {
			&:hover {
				.subslider-char__text {
					color: $gold;
				}
			}
		}
		@media (max-width: $md3+px) {
			flex: 0 1 100px;
		}
		@media (max-width: $md4+px) {
			flex: 0 1 20%;
		}
	}

	&__inner {
		position: relative;
		height: 45px;
		box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.5);
		@media (max-width: $md3+px) {
			width: auto;
		}
	}

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: $black;
			transition: all 0.8s ease 0s;
			opacity: 0.5;
		}
	}

	&__text {
		position: absolute;
		bottom: 2px;
		left: 5px;
		font-weight: 700;
		font-size: 11px;
		line-height: 14 / 11 * 100%;
		color: $white;
		transition: all 0.3s ease 0s;

		@media (max-width: 500px) {
			display: none;
		}
	}

	&__more {
		flex: 0 0 155px;
		height: 45px;
		@media (any-hover: hover) {
			&:hover {
				path {
					fill: $red;
				}
			}
		}
		span {
			margin-top: 2px;
			margin-left: 12px;
			path {
				transition: all 0.3s ease 0s;
				fill: $white;
			}
		}
	}
}
.slider-char {
	display: none;
	&__slick {
		&._animate {
			.slider-char__image,
			.slider-char__text,
			.slider-char__name,
			.slider-char__weapons {
				transform: translate(0px, 0px);
				@extend .anim;
			}
		}
	}

	&__slide {
		cursor: grab;
	}

	&__body {
		margin-top: -220px;
		display: flex;
		justify-content: space-between;
		min-height: 100%;
		@media (max-width: 1600px) {
			margin-top: -130px;
		}
		@media (max-width: $md2+px) {
			margin-top: 0;
		}
	}

	&__image {
		position: relative;
		z-index: 6;
		flex: 0 0 737px;
		@media (max-width: 1600px) {
			flex: 0 0 600px;
		}
		@media (max-width: $md1+px) {
			flex: 0 1 60%;
		}
		@media (min-width: $md2+px) {
			margin-left: -120px;
		}
		@media (max-width: $md4+px) {
			flex: 0 1 50%;
		}
		@extend .no-anim;
		transition: all 0.8s ease 0s;
		transform: translate(-50%, 0px);
		img {
			@media (max-width: 1600px) {
				@include adaptiv-value("width", 600, 200, 1);
			}
			@include adaptiv-value("width", 737, 200, 1);
			max-width: 100%;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		text-align: right;
		margin-left: -120px;
		flex: 1 1 auto;
		margin-top: 300px;
		@media (max-width: 1600px) {
			margin-top: 200px;
		}
		@media (max-width: $md2+px) {
			flex: 0 1 40%;
			margin-top: 100px;
			margin-left: 0;
		}
		@media (max-width: $md3+px) {
			@include adaptiv-value("margin-top", 60, 20, 1);
		}
		@media (max-width: $md4+px) {
			flex: 0 1 50%;
		}
	}

	&__name {
		font-family: "Arial";
		font-weight: 900;
		color: $white;
		text-shadow: 0px -6px 26px $black;
		@include adaptiv-value("margin-bottom", 20, 10, 1);
		@media (min-width: 1400px) {
			@include adaptiv-font(200, 30, 1);
		}
		@media (max-width: 1400px) {
			@include adaptiv-font(180, 30, 1);
		}
		@media (max-width: $md2+px) {
			@include adaptiv-font(100, 30, 1);
		}
		@media (min-width: $md1+px) {
			margin-right: 15px;
		}
		@extend .no-anim;
		transition: all 0.8s ease 0.5s;
		transform: translate(50%, 0px);
	}

	&__text {
		font-family: "Arial";
		font-weight: 700;
		@include adaptiv-font(30, 16, 1);
		line-height: 45 / 30 * 100%;
		color: $gold;
		text-shadow: 0px -6px 26px $black;
		@media (min-width: $md1+px) {
			margin-right: 85px;
		}
		@media (max-width: $md3+px) {
			@include adaptiv-value("margin-left", -80, -20, 0);
		}
		@extend .no-anim;
		transition: all 0.8s ease 1s;
		transform: translate(50%, 0px);
	}

	&__weapons {
		@include adaptiv-value("width", 414, 130, 1);
		@media (min-width: $md1+px) {
			margin-right: 70px;
		}
		@extend .no-anim;
		transition: all 0.8s ease 1.5s;
		transform: translate(50%, 0px);
		img {
			max-width: 100%;
		}
	}
}

//========================================================================================================================================================

.connected {
	&__top {
		position: relative;
		z-index: 5;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;
		@media (min-width: $md1+px) {
			padding: 0px 30px;
		}
		@media (max-width: $md3+px) {
			flex-wrap: wrap;
			margin: 0px 0px 20px 0px;
		}
		&._animate {
			.connected__social,
			.connected__filter-menu,
			.connected__more {
				transform: translate(0px, 0px);
				@extend .anim;
			}
			.connected__bg {
				transform: translate(-50%, 0px);
				@extend .anim;
			}
		}
	}

	&__social {
		@media (min-width: $md2+px) {
			flex: 0 0 260px;
		}
		margin-right: 20px;
		@media (max-width: $md2+px) {
			margin-right: 40px;
		}
		@media (max-width: $md3+px) {
			margin-right: 0px;
		}
		flex: 0 0 155px;
		display: flex;
		align-items: center;
		@extend .no-anim;
		transform: translate(-50%, 0px);
		transition: all 0.8s ease 0.8s;
	}

	&__social-item {
		flex: 0 0 45px;
		height: 45px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		box-shadow: -6px 6px 10px rgba(0, 0, 0, 0.5);
		&:not(:last-child) {
			margin-right: 10px;
		}
		@media (any-hover: hover) {
			&:hover {
				img {
					transform: scale(1.1);
				}
			}
		}
		img {
			transition: all 0.3s ease 0s;
			max-width: 100%;
		}
		&_fb {
			background-color: #385892;
		}

		&_tw {
			background-color: #139cea;
		}

		&_inst {
			background-color: #de2b69;
		}
	}

	&__filter-menu {
		flex: 1 1 auto;
		@media (max-width: $md3+px) {
			flex: 1 1 100%;
			order: 3;
			margin: 20px 0px 0px 0px;
		}
		@extend .no-anim;
		transition: all 0.8s ease 0.5s;
	}

	&__filter-list {
		align-items: center;
		display: flex;
		justify-content: center;
		@media (max-width: $md4+px) {
			justify-content: space-between;
		}
	}

	&__filter-item {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		justify-content: center;
		height: 45px;
		@extend .text;
		color: rgba(255, 255, 255, 0.466);
		transition: all 0.3s ease 0s;
		cursor: pointer;
		&:not(:last-child) {
			@include adaptiv-value("margin-right", 45, 10, 1);
		}
		@media (any-hover: hover) {
			&:hover {
				color: $white;
			}
		}
		&._active {
			background-color: $red;
			padding: 0px 20px;
			color: $white;
		}
	}

	&__more {
		@media (min-width: $md2+px) {
			flex: 0 0 260px;
		}
		margin-left: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: $md4+px) {
			flex: 1 1 auto;
			margin-left: 10px;
		}
		@extend .no-anim;
		transform: translate(50%, 0px);
		transition: all 0.8s ease 0.8s;
	}

	&__more-news {
		@include adaptiv-value("margin-right", 45, 10, 1);
		@extend .text;
		color: rgba(255, 255, 255, 0.466);
		@media (max-width: $md4+px) {
			display: none;
		}
	}

	&__btn {
		min-width: 140px;
		@media (max-width: $md2+px) {
			min-width: 100px;
		}
		@media (max-width: $md4+px) {
			width: 100%;
		}
	}

	&__bg {
		position: absolute;
		min-width: 810px;
		@include adaptiv-value("min-width", 810, 400, 1);
		@include adaptiv-value("top", -60, -40, 1);
		left: 50%;
		transform: translate(-50%, 0px);
		z-index: -1;
		@media (max-width: $md4+px) {
			min-width: 280px;
			top: -55px;
		}
		@extend .no-anim;
		transition: all 0.8s ease 0s;
		img {
			max-width: 100%;
		}
	}
	&__bg-image {
		position: absolute;
		width: 100%;
		@include adaptiv-value("top", -500, -170, 1);
		left: 0;
		z-index: 3;
		img {
			min-height: 250px;
			max-width: 100%;
		}
	}

	&__body {
		position: relative;
	}

	&__slick {
		display: none;
		position: relative;
		z-index: 5;
		&._animate {
			.connected__image,
			.connected__info {
				@extend .anim;
			}
		}
	}

	&__slide {
	}

	&__inner {
		display: block;
		position: relative;
		overflow: hidden;
		@media (any-hover: hover) {
			&:hover {
				.connected__image {
					img {
						transform: scale(1.1);
					}
				}
			}
		}
	}

	&__image {
		@include adaptiv-value("min-height", 385, 250, 1);
		position: relative;
		img {
			transition: all 0.5s ease 0s;
		}
		@extend .no-anim;
		transition: all 0.8s ease 0s;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.80619) 100%),
				linear-gradient(0deg, rgba(0, 0, 0, 0.38803), rgba(0, 0, 0, 0.38803));
		}
	}

	&__info {
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		padding: 20px 10px;
		filter: drop-shadow(0px 2px 33px #000000);
		@extend .no-anim;
		transition: all 0.8s ease 0.8s;
	}

	&__subtitle {
		font-weight: 700;
		font-size: 13px;
		line-height: 17 / 13 * 100%;
		letter-spacing: 1.85714px;
		color: $gold;
	}

	&__title {
		flex: 1 1 auto;
		font-family: "Eurostile";
		font-weight: 700;
		@include adaptiv-font(30, 18, 1);
		line-height: 30 / 30 * 100%;
		letter-spacing: 1.66667px;
		transition: all 0.3s ease 0s;
		color: $white;
		margin-bottom: 10px;
		@media (any-hover: hover) {
			&:hover {
				color: $gold;
			}
		}
	}

	&__date {
		font-weight: 600;
		font-size: 12px;
		line-height: 15 / 12 * 100%;
		color: $grey;
	}
}

//========================================================================================================================================================

.available {
	&__wrapper {
		overflow: hidden;
		position: relative;
		z-index: 6;
		background-color: $black;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 172px;
			top: 0;
			left: 0;
			background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.0001) 100%);
		}
	}

	&__container {
		position: relative;
		z-index: 2;
	}

	&__body {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		@include adaptiv-value("padding-top", 150, 50, 1);
		@include adaptiv-value("padding-bottom", 55, 30, 1);
		margin: 0px -25px;
		@media (max-width: $md3+px) {
			@include adaptiv-value("padding-bottom", 25, 10, 1);
		}
		@media (max-width: $md4+px) {
			margin: 0px -10px;
		}
	}

	&__title {
		flex: 1 1 100%;
		text-align: center;
		@include adaptiv-value("margin-bottom", 40, 30, 1);
		font-weight: 600;
		font-size: 20px;
		line-height: 26 / 20 * 100%;
		letter-spacing: 2.85714px;
		color: $gold;
		padding: 0px 25px;
		@media (max-width: $md4+px) {
			padding: 0px 10px;
		}
		@extend .no-anim;
		transition: all 0.8s ease 0s;
		&._animate {
			@extend .anim;
		}
	}

	&__column {
		flex: 0 0 195px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0px 25px;
		@media (max-width: $md2+px) {
			flex: 0 0 145px;
			text-align: center;
		}
		@media (max-width: $md3+px) {
			flex: 0 1 50%;
			padding-bottom: 40px;
		}
		@media (max-width: $md4+px) {
			padding: 0px 10px;
			padding-bottom: 40px;
		}
		&:nth-child(4),
		&:nth-child(5) {
			flex: 0 0 155px;
			@media (max-width: $md2+px) {
				flex: 0 0 105px;
			}
			@media (max-width: $md3+px) {
				flex: 0 1 50%;
			}
		}
		&._animate {
			.available__logo,
			.available__image {
				@extend .anim;
			}
		}
	}

	&__logo {
		@include adaptiv-value("margin-bottom", 50, 30, 1);
		@media (max-width: $md3+px) {
			width: 100%;
		}
		img {
			@media (max-width: $md3+px) {
				min-width: 80%;
			}
			max-width: 100%;
		}
		@extend .no-anim;
		transition: all 0.8s ease 0s;
	}

	&__image {
		img {
			max-width: 100%;
		}
		@extend .no-anim;
		transition: all 0.8s ease 0.5s;
	}

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 2.05%, rgba(0, 0, 0, 0.8237) 31.88%, #000000 90%);
		}
	}
}
