//<ОСНОВНОЙ БЛОК>====================================================================================================
.text {
    font-weight: 700;
    font-size: 15px;
    line-height: 19 / 15 * 100%;
}

.no-anim {
    visibility: hidden;
    opacity: 0;
}
.anim {
    visibility: visible;
    opacity: 1;
}
//</ОСНОВНОЙ БЛОК>====================================================================================================
