.footer {
    &__wrapper {
        @media (min-width: $md1+px) {
            padding: 45px 20px 20px 20px;
        }
        padding: 45px 0px 20px 0px;
        @media (max-width: 560px) {
            padding: 20px 0px;
        }
        &._animate {
            .footer__teen,
            .footer__menu {
                @extend .anim;
            }
        }
    }

    &__container {
    }

    &__body {
        display: flex;
        justify-content: space-between;
        @media (max-width: 560px) {
            align-items: flex-end;
        }
    }

    &__teen {
        flex: 0 0 52px;
        @media (max-width: 560px) {
            flex: 0 0 40px;
        }
        img {
            max-width: 100%;
        }
        @extend .no-anim;
        transition: all 0.8s ease 1s;
    }

    &__menu {
        text-align: center;
        margin: 0px 20px;
        @media (max-width: 560+px) {
            margin: 0px 10px;
        }
        @extend .no-anim;
        transition: all 0.8s ease 0.5s;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        @media (min-width: 560px) {
            margin-bottom: 10px;
        }
        @media (max-width: 560px) {
            flex-wrap: wrap;
        }
        li {
            flex: 0 1 33.333%;
            @media (max-width: 560px) {
                @include adaptiv-value("margin-bottom", 20, 10, 1);
            }
            &:not(:last-child) {
                @media (min-width: 560px) {
                    @include adaptiv-value("margin-right", 35, 10, 1);
                }
            }
        }
    }

    &__link {
        @extend .text;
        transition: all 0.3s ease 0s;
        color: $white;
        @media (any-hover: hover) {
            &:hover {
                color: $gold;
            }
        }
    }

    &__copy {
        font-family: "Bebas";
        font-size: 12px;
        line-height: 20 / 12 * 100%;
        color: $grey;
    }
}
