.footer {
    @media (min-width: $pc) {
        padding: rem(45) rem(20) rem(20) rem(20);
    }
    padding: rem(45) 0px rem(20) 0px;
    @media (max-width: em(560)) {
        padding: rem(20) 0px;
    }
    // ANIMATION  ===========================================================================================================================================
    &._watcher-view {
        .footer__teen,
        .footer__menu {
            @extend %anim;
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        @media (max-width: em(560)) {
            align-items: flex-end;
        }
    }

    &__teen {
        flex: 0 0 rem(52);
        @media (max-width: em(560)) {
            flex: 0 0 rem(40);
        }
        img {
            max-width: 100%;
        }

        // ANIMATION  ===========================================================================================================================================
        @extend %no-anim;
        transition: opacity 0.8s ease 1s, visibility 0.8s ease 1s;
    }

    &__menu {
        text-align: center;
        margin: 0px rem(20);
        @media (max-width: em(560)) {
            margin: 0px rem(10);
        }

        // ANIMATION  ===========================================================================================================================================
        @extend %no-anim;
        transition: opacity 0.8s ease 0.5s, visibility 0.8s ease 0.5s;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        @media (min-width: em(560)) {
            margin-bottom: rem(10);
        }
        @media (max-width: em(560)) {
            flex-wrap: wrap;
        }
        li {
            flex: 0 1 33.333%;
            @media (max-width: em(560)) {
                @include adaptiveValue("margin-bottom", 20, 10, 560, 320, 1);
            }
            &:not(:last-child) {
                @media (min-width: em(560)) {
                    @include adaptiveValue("margin-right", 35, 10, 1220, 560, 1);
                }
            }
        }
    }

    &__link {
        @extend %text;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $gold;
            }
        }
    }

    &__copy {
        font-family: "Bebas";
        font-size: rem(12);
        line-height: math.div(20, 12);
        color: $grey;
    }
}
