.header {
    margin-top: rem(-70);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.31);
    transition: margin-top 0.8s ease 0s;
    .loaded & {
        margin-top: 0;
    }
    @media (min-width: $mobile) {
        @supports ((-webkit-backdrop-filter: blur(rem(19))) or (backdrop-filter: blur(rem(19)))) {
            background-color: rgba(0, 0, 0, 0.31);
            backdrop-filter: blur(rem(19));
        }
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: rem(70);
        position: relative;
        @media (max-width: $tablet) {
            min-height: rem(65);
            gap: rem(20);
            justify-content: space-between;
        }
        li {
            list-style: none;
        }
    }

    &__menu {
        @media (max-width: $mobile) {
            flex: 1 1 auto;
        }
    }

    &__logo {
        display: inline-flex;
        flex: 0 0 rem(125);
        position: relative;
        z-index: 20;
        margin: rem(5) rem(15) 0px rem(15);
        img {
            max-width: 100%;
        }
        @media (max-width: $pc) {
            margin: rem(5) rem(5) 0px rem(5);
        }
        @media (max-width: $tablet) {
            margin: 0;
        }
    }

    &__btn {
        position: relative;
        z-index: 20;
        min-width: rem(125);
        @media (min-width: $tablet) {
            position: absolute;
            right: rem(15);
            top: rem(10);
            min-width: rem(140);
        }
        @media (max-width: $mobileSmall) {
            width: 100%;
            font-size: rem(20);
        }
    }

    &__icon {
        margin-left: rem(20);
    }
}

.menu {
    @media (min-width: $tablet) {
        margin-right: rem(70);
    }
    &__body {
        @media (max-width: $mobile) {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            overflow: auto;
            padding: rem(90) rem(15) rem(30) rem(15);
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.5s ease 0s, visibility 0.5s ease 0s;
            z-index: 10;
            background-color: rgba(0, 0, 0, 0.8);
            &::after {
                content: "";
                position: fixed;
                width: 100%;
                height: rem(65);
                top: 0;
                left: 0;
                background-color: $black;
            }
            .menu-open & {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__list {
        @media (max-width: $tablet) {
            justify-content: flex-start;
        }
        @media (min-width: $mobile) {
            display: flex;
            justify-content: center;
            @include adaptiveValue("gap", 35, 10, 1220, 767.98, 1);
        }
        @media (max-width: $mobile) {
            li {
                @include adaptiveValue("margin-bottom", 30, 20, 767.98, 320, 1);
            }
        }
    }

    &__link {
        text-transform: uppercase;
        display: inline-flex;
        @extend %text;
        transition: color 0.3s ease 0s;
        color: $grey2;
        @media (any-hover: hover) {
            &:hover {
                color: $gold;
            }
        }
        @media (min-width: $tablet) {
            margin-top: rem(12);
        }
        @media (max-width: $mobile) {
            font-size: rem(20);
        }
    }
}

//====================================================================================================

.icon-menu {
    display: none;
    @media (max-width: $mobile) {
        display: block;
        position: relative;
        width: rem(30);
        height: rem(18);
        cursor: pointer;
        z-index: 15;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        -webkit-tap-highlight-color: transparent;
        span,
        &::before,
        &::after {
            content: "";
            transition: all 0.3s ease 0s;
            right: 0;
            position: absolute;
            width: 100%;
            height: rem(2);
            background-color: $white;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            top: calc(50% - rem(1));
        }
        .menu-open & {
            span {
                width: 0;
            }
            &::before {
                top: calc(50% - rem(1));
                transform: rotate(-45deg);
            }
            &::after {
                bottom: calc(50% - rem(1));
                transform: rotate(45deg);
            }
        }
    }
}
