.home {
    position: relative;

    // ANIMATION  ===========================================================================================================================================
    @extend %no-anim;
    transition: opacity 0.5s ease 0s, visibility 0.5s ease 0s;
    // min-height: rem(350);
    // @media (min-width: $mobile) and (max-height: $mobile) {
    //     min-height: rem(700);
    // }

    &__content {
        position: relative;
        z-index: 5;
        padding-top: rem(140);
        padding-bottom: rem(100);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        @media (max-width: $mobile) {
            padding-top: rem(100);
            padding-bottom: rem(70);
        }
    }

    &__container {
    }

    &__text {
        @include adaptiveValue("width", 850, 280);
        @include adaptiveValue("margin-bottom", 40, 30);
        img {
            max-width: 100%;
        }
        @media (max-height: rem(550)) {
            width: 140;
        }

        // ANIMATION  ===========================================================================================================================================
        @extend %no-anim;
        transition: opacity 0.8s ease 0.5s, visibility 0.8s ease 0.5s;
    }
    &__btn {
        min-width: rem(140);

        // ANIMATION  ===========================================================================================================================================
        @extend %no-anim;
        transition: opacity 0.8s ease 1s, visibility 0.8s ease 1s, background-color 0.3s ease 0s, color 0.3s ease 0s;
    }

    &__video {
        @extend %responsiveVideo;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 2;
            background: rgba(0, 0, 0, 0.5);
        }
    }

    &__image {
        pointer-events: none;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        transform: translate(0, 50%);
        z-index: 4;
        @extend %no-anim;
        transition: opacity 0.8s ease 0s, visibility 0.8s ease 0s;
        img {
            max-width: 100%;
            @media (min-width: em(1100)) {
                min-width: 100%;
            }
        }
        @media (max-width: $mobileSmall) {
            min-width: rem(500);
        }
    }
}

//========================================================================================================================================================

.info {
    position: relative;
    &__container {
        position: relative;
        z-index: 5;
        max-width: rem(1020);
        margin-top: rem(-60);
        @media (max-width: $mobile) {
            margin-top: rem(0);
            padding-top: rem(40);
        }
        // @media (max-width: $mobile), (max-height: $mobile) {
        //     padding-top: rem(40);
        //     margin-top: rem(0);
        // }
    }

    &__bg-ibg {
        margin-top: rem(60);
        position: absolute;
        width: 100%;
        height: calc(100% - rem(60));
        top: 0;
        left: 0;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.866013) 0%, rgba(0, 0, 0, 0.0001) 36.55%, rgba(0, 0, 0, 1) 100%);
        }
        @media (max-width: $mobile) {
            margin-top: 0;
            height: 100%;
        }
    }
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr;
    @include adaptiveValue("gap", 40, 15, 1220, 767.98, 1);
    &__row {
        display: grid;
        @include adaptiveValue("gap", 40, 15, 1220, 767.98, 1);
        @media (min-width: em(560)) {
            @include adaptiveValue("min-height", 400, 250);
        }
        &_1 {
            @media (min-width: em(560)) {
                grid-template-columns: 1.08fr 0.92fr;
                grid-template-areas:
                    "g1 g2"
                    "g1 g3";
            }
            @media (max-width: em(560)) {
                grid-template-columns: 1fr;
                grid-template-areas:
                    "g1"
                    "g2"
                    "g3";
            }
        }
        &_2 {
            @media (min-width: em(560)) {
                grid-template-columns: 0.92fr 1.08fr;
                grid-template-areas: "g4 g5";
            }
            @media (max-width: em(560)) {
                grid-template-columns: 1fr;
                grid-template-areas:
                    "g4"
                    "g5";
            }
        }
    }

    &__item {
        position: relative;
        box-shadow: 0px rem(2) rem(27) rgba(0, 0, 0, 0.8);
        @media (any-hover: hover) {
            &:hover {
                .info-grid__image-ibg {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }
        @media (max-width: em(560)) {
            @include adaptiveValue("min-height", 300, 200);
            @include inViewBasic(0, 0, 0.8, 0, true);
        }
        // ANIMATION ==================================================================================================================================================
        &_1 {
            grid-area: g1;
            @media (min-width: em(560)) {
                @include inViewBasic(-30%, 0, 0.8, 0, true);
            }
        }
        &_2 {
            grid-area: g2;
            @media (min-width: em(560)) {
                @include inViewBasic(30%, 0, 0.8, 0, true);
            }
        }
        &_3 {
            grid-area: g3;
            @media (min-width: em(560)) {
                @include inViewBasic(30%, 0, 0.8, 0, true);
            }
        }
        &_4 {
            grid-area: g4;
            @media (min-width: em(560)) {
                @include inViewBasic(-30%, 0, 0.8, 0, true);
            }
        }
        &_5 {
            grid-area: g5;
            @media (min-width: em(560)) {
                @include inViewBasic(30%, 0, 0.8, 0, true);
            }
        }
    }

    &__content {
        position: absolute;
        z-index: 6;
        bottom: 0;
        left: rem(-20);
        @include adaptiveValue("width", 360, 250);
        .info-grid__item_1 & {
            @include adaptiveValue("bottom", 50, 20, 1220, 767.98, 1);
        }
        .info-grid__item_2 & {
            @include adaptiveValue("bottom", 30, 20, 1220, 767.98, 1);
        }
        .info-grid__item_3 & {
            bottom: rem(20);
            @media (max-width: $pc) {
                right: rem(15) !important;
            }
            @media (min-width: em(560)) {
                text-align: right;
                right: rem(-20);
                left: auto;
            }
        }
        .info-grid__item_4 & {
            @include adaptiveValue("bottom", 140, 20, 1220, 767.98, 1);
        }
        .info-grid__item_5 & {
            bottom: rem(20);
            @media (min-width: em(560)) {
                left: rem(0);
                width: 100%;
                text-align: center;
            }
        }
        @media (max-width: $pc) {
            left: rem(15);
            width: calc(100% - rem(30));
        }

        @include inViewBasic(0, 0, 0.8, 0.5, true);
    }

    &__subtitle {
        font-weight: 600;
        font-size: rem(14);
        line-height: math.div(18, 14);
        letter-spacing: rem(2);
        color: $gold;
    }

    &__title {
        font-family: "Eurostile";
        font-weight: 700;
        @include adaptiveValue("font-size", 36, 18, 1220, 479.98, 1);
        line-height: math.div(48, 36);
        letter-spacing: rem(2);
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $gold;
            }
        }
        @media (min-width: em(560)) {
            .info-grid__item_2 &,
            .info-grid__item_3 & {
                margin-top: rem(5);
                @include adaptiveValue("font-size", 28, 15, 1220, 767.98, 1);
                line-height: math.div(31, 28);
                letter-spacing: em(1.55);
            }
        }
    }

    &__image-ibg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        img {
            transition: transform 0.5s ease 0s;
        }
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $black;
            opacity: 0.5;
        }
    }
}

//========================================================================================================================================================

.char {
    &__container {
    }

    &__top {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        @media (max-width: $tablet) {
            margin-bottom: rem(25);
        }
        @media (max-width: $mobile) {
            justify-content: space-between;
        }
    }

    &__text {
        flex: 1 1 100%;
        margin-bottom: rem(25);
        img {
            max-width: 100%;
        }

        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(0, 0, 0.8, 0);
    }

    &__subslider {
        position: relative;
        z-index: 5;
        flex: 0 1 rem(605);
        @media (max-width: $mobile) {
            flex: 1 1 100%;
        }

        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(50%, 0, 0.8, 0);
        @media (max-width: $mobile) {
            @include inViewBasic(0, 0, 0.8, 0);
        }
    }

    &__bottom {
        position: relative;
        z-index: 2;
    }
}

.sub-slider {
    display: flex;
    gap: rem(15);
    min-width: 0;
    justify-content: space-between;
    @media (max-width: em(500)) {
        gap: rem(10);
    }
    @media (max-width: $mobileSmall) {
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    &__swiper {
        min-width: 0;
        flex: 1 1 auto;
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
        }
    }

    &__wrapper {
        gap: rem(15);
        transform: translate3d(0px, 0px, 0px) !important;
        @media (max-width: em(500)) {
            gap: rem(10);
        }
    }

    &__slide {
        cursor: pointer;
        position: relative;
        flex: 0 0 rem(75);
        height: rem(45);
        box-shadow: 0px rem(2) rem(22) rgba(0, 0, 0, 0.5);
        &.swiper-slide-active {
            .sub-slider__text {
                color: $gold;
            }
            .sub-slider__image-ibg {
                &::after {
                    opacity: 0;
                }
            }
        }
        @media (any-hover: hover) {
            &:hover {
                .subslider-char__text {
                    color: $gold;
                }
            }
        }
        @media (max-width: $mobile) {
            flex: 0 1 20% !important;
        }
    }

    &__image-ibg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $black;
            transition: opacity 0.8s ease 0s;
            opacity: 0.5;
        }
    }

    &__text {
        position: absolute;
        bottom: rem(2);
        left: rem(5);
        font-weight: 700;
        font-size: rem(11);
        line-height: math.div(14, 11);
        transition: color 0.3s ease 0s;
        @media (max-width: em(500)) {
            display: none;
        }
    }

    &__more {
        flex: 0 0 rem(155);
        height: rem(45);
        @media (any-hover: hover) {
            &:hover {
                path {
                    fill: $red;
                }
            }
        }
        span {
            margin-top: rem(2);
            margin-left: rem(12);
            path {
                transition: fill 0.3s ease 0s;
                fill: $white;
            }
        }
    }
}

.bottom-slider {
    &__slide {
        cursor: grab;
        margin-top: rem(-220);
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        opacity: 0 !important;
        visibility: hidden !important;
        &.swiper-slide-active {
            opacity: 1 !important;
            visibility: visible !important;
        }
        @media (min-width: em(1600)) {
            margin-top: rem(-130);
        }
        @media (max-width: $tablet) {
            margin-top: 0;
        }
    }

    &__image {
        position: relative;
        z-index: 6;
        flex: 0 0 rem(737);
        img {
            @include adaptiveValue("width", 737, 200);
            max-width: 100%;
            @media (max-width: em(1600)) {
                @include adaptiveValue("width", 600, 200);
            }
        }
        @media (max-width: $pc) {
            flex: 0 0 60%;
        }
        @media (min-width: $tablet) {
            margin-left: rem(-120);
        }
        @media (max-width: $mobileSmall) {
            flex: 0 1 50%;
        }
        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(-50%, 0, 0.5, 0, true);
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        margin-left: rem(-120);
        flex: 1 1 auto;
        margin-top: rem(250);
        @media (max-width: $tablet) {
            flex: 0 1 40%;
            margin-top: rem(100);
            margin-left: 0;
        }
        @media (max-width: $mobile) {
            @include adaptiveValue("margin-top", 60, 20);
        }
        @media (max-width: $mobileSmall) {
            flex: 0 1 50%;
        }
    }

    &__name {
        font-family: "Arial";
        font-weight: 900;
        color: $white;
        text-shadow: 0px rem(-6) rem(26) $black;
        @include adaptiveValue("margin-bottom", 20, 10);
        @media (min-width: em(1400)) {
            font-size: rem(200);
        }
        @media (max-width: em(1400)) {
            font-size: rem(170);
        }
        @media (min-width: $pc) {
            margin-right: rem(15);
        }
        @media (max-width: $tablet) {
            @include adaptiveValue("font-size", 100, 30, 991.98, 320, 1);
        }
        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(50%, 0, 0.8, 0.5, true);
    }

    &__text {
        font-family: "Arial";
        font-weight: 700;
        @include adaptiveValue("font-size", 36, 16);
        line-height: math.div(45, 30);
        color: $gold;
        text-shadow: 0px rem(-6) rem(26) $black;
        @media (min-width: $pc) {
            margin-right: rem(85);
        }
        @media (max-width: $mobile) {
            @include adaptiveValue("margin-left", -80, -20);
        }
        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(50%, 0, 0.8, 1, true);
    }

    &__weapons {
        @include adaptiveValue("width", 414, 130);
        img {
            max-width: 100%;
        }
        @media (min-width: $pc) {
            margin-right: rem(70);
        }
        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(50%, 0, 0.8, 1.5, true);
    }
}

//========================================================================================================================================================

.connected {
    &__container {
        position: relative;
        z-index: 5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: rem(30);
        @media (max-width: $mobile) {
            flex-wrap: wrap;
        }
    }

    &__social {
        margin-right: rem(20);
        @media (min-width: $tablet) {
            flex: 0 0 rem(260);
        }
        @media (max-width: $tablet) {
            margin-right: rem(40);
        }
        @media (max-width: $mobile) {
            margin-right: 0px;
        }
        flex: 0 0 rem(155);
        display: flex;
        align-items: center;
        gap: rem(10);

        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(-50%, 0, 0.8, 0.8, true);
    }

    &__social-item {
        flex: 0 0 rem(45);
        height: rem(45);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        box-shadow: rem(-6) rem(6) rem(10) rgba(0, 0, 0, 0.5);
        img {
            transition: transform 0.3s ease 0s;
            max-width: 100%;
        }
        &_fb {
            background-color: #385892;
        }

        &_tw {
            background-color: #139cea;
        }

        &_inst {
            background-color: #de2b69;
        }
        @media (any-hover: hover) {
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }

    &__filter-menu {
        flex: 1 1 auto;
        @media (max-width: $mobile) {
            flex: 1 1 100%;
            order: 3;
            margin-top: rem(20);
        }

        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(0, 0, 0.8, 0.5, true);
    }

    &__filter-list {
        align-items: center;
        display: flex;
        justify-content: center;
        @include adaptiveValue("gap", 45, 10);
        @media (max-width: $mobileSmall) {
            justify-content: space-between;
        }
    }

    &__filter-item {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        height: rem(45);
        @extend %text;
        color: rgba(255, 255, 255, 0.466);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        @media (any-hover: hover) {
            &:hover {
                color: $white;
            }
        }
        &._active {
            background-color: $red;
            padding: 0px rem(20);
            color: $white;
        }
    }

    &__more {
        @media (min-width: $tablet) {
            flex: 0 0 rem(260);
        }
        margin-left: rem(20);
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $mobileSmall) {
            flex: 1 1 auto;
            margin-left: rem(10);
        }

        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(50%, 0, 0.8, 0.8, true);
    }

    &__more-news {
        @include adaptiveValue("margin-right", 45, 10);
        @extend %text;
        color: rgba(255, 255, 255, 0.466);
        @media (max-width: $mobileSmall) {
            display: none;
        }
    }

    &__btn {
        min-width: rem(140);
        @media (max-width: $tablet) {
            min-width: rem(100);
        }
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }

    &__bg {
        position: absolute;
        min-width: rem(810);
        @include adaptiveValue("min-width", 810, 400);
        @include adaptiveValue("top", -60, -40);
        left: 50%;
        transform: translate(-50%, 0px);
        z-index: -1;
        img {
            max-width: 100%;
        }
        @media (max-width: $mobileSmall) {
            min-width: rem(280);
            top: rem(-55);
        }

        // ANIMATION ==================================================================================================================================================
        @extend %no-anim;
        transition: opacity 0.8s ease 0s, visibility 0.8s ease 0s;
        ._watcher-view & {
            transform: translate(-50%, 0px);
            @extend %anim;
        }
    }
    &__bg-image {
        position: absolute;
        width: 100%;
        @include adaptiveValue("top", -500, -170);
        left: 0;
        z-index: 3;
        @media (max-width: em(1600)) {
            top: auto;
            bottom: 0;
        }
        img {
            min-height: rem(250);
            max-width: 100%;
        }
    }

    &__body {
        position: relative;
    }

    &__slider {
        @include adaptiveValue("min-height", 385, 250);
        position: relative;
        z-index: 5;
    }

    &__wrapper {
    }

    &__slide {
        display: none;
        position: relative;
        overflow: hidden;
        filter: drop-shadow(0px rem(2) rem(33) $black);
        @media (any-hover: hover) {
            &:hover {
                .connected__image-ibg {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }
        &._showed {
            display: block;
        }
    }

    &__image-ibg {
        display: block;
        @include adaptiveValue("min-height", 385, 250);
        position: relative;
        img {
            transition: transform 0.5s ease 0s;
        }
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.80619) 100%),
                linear-gradient(0deg, rgba(0, 0, 0, 0.38803), rgba(0, 0, 0, 0.38803));
        }

        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(0, 0, 0.8, 0, true);
    }

    &__info {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        padding: rem(20) rem(10);

        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(0, 0, 0.8, 0.8, true);
    }

    &__subtitle {
        font-weight: 700;
        font-size: rem(13);
        line-height: math.div(17, 13);
        letter-spacing: em(1.85);
        color: $gold;
    }

    &__title {
        flex: 1 1 auto;
        font-family: "Eurostile";
        font-weight: 700;
        @include adaptiveValue("font-size", 30, 18);
        line-height: math.div(30, 30);
        letter-spacing: em(1.67);
        transition: color 0.3s ease 0s;
        margin-bottom: rem(10);
        @media (any-hover: hover) {
            &:hover {
                color: $gold;
            }
        }
    }

    &__date {
        font-weight: 600;
        font-size: rem(12);
        line-height: math.div(15, 12);
        color: $grey;
    }
}

//========================================================================================================================================================

.available {
    overflow: hidden;
    position: relative;
    z-index: 6;
    background-color: $black;
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: rem(172);
        top: 0;
        left: 0;
        background: linear-gradient(180deg, $black 0%, rgba(0, 0, 0, 0.0001) 100%);
    }

    &__container {
        position: relative;
        z-index: 2;
        @include adaptiveValue("padding-top", 150, 50);
        @include adaptiveValue("padding-bottom", 55, 20);
    }

    &__title {
        text-align: center;
        @include adaptiveValue("margin-bottom", 40, 30);
        font-weight: 600;
        font-size: rem(20);
        line-height: math.div(26, 20);
        letter-spacing: em(2.85);
        color: $gold;
        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(0, 0, 0.8, 0);
    }

    &__grid {
        @media (min-width: $mobile) {
            display: flex;
            gap: rem(50);
            justify-content: center;
        }
        @media (max-width: $mobile) {
            display: grid;
            grid-template-columns: repeat(2, 01fr);
            gap: rem(50);
            justify-content: center;
        }
    }

    &__column {
        flex: 0 0 rem(195);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: $tablet) {
            flex: 0 0 rem(145);
            text-align: center;
        }
        &:nth-child(4),
        &:nth-child(5) {
            flex: 0 0 rem(155);
            @media (max-width: $tablet) {
                flex: 0 0 rem(105);
            }
        }
    }

    &__logo {
        @include adaptiveValue("margin-bottom", 50, 30);
        img {
            max-width: 100%;
        }
        @media (max-width: $mobile) {
            width: 100%;
            img {
                min-width: 80%;
            }
        }

        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(0, 0, 0.8, 0, true);
    }

    &__image {
        img {
            max-width: 100%;
        }

        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(0, 0, 0.8, 0.5, true);
    }

    &__bg-ibg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 2.05%, rgba(0, 0, 0, 0.8237) 31.88%, $black 90%);
        }
    }
}
